[Desktop Entry]
Name=Github
Comment= Github Ubports webapp
Type=Application
Icon=github.png
Exec=webapp-container --store-session-cookies --enable-back-forward --webappUrlPatterns=https?://github*.com/* https://github.com/ubports
Terminal=false
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Color=#262625
